.symbol_table {
    width:100%;
    float:left;
    font-size: 12px;
    color: #666;
  }

  
  .log_table {
    margin-left:10px;
    width:100%;
    float:left;
    margin-top:25px;
    font-size: 12px;
    color: #666;
  }

  .log_table_header {
    float:left;
    text-align: right;
    color: #666;
    font-size: 13px;
    width:100%;
    margin-left:20px;
    padding-top:15px;
    margin-bottom:10px;
    border-bottom:1px solid darkgray;
  }
  
  .log_table_row {
    float:left;
    text-align: right;
    width:100%;
    margin-left:20px;
    margin-bottom:4px;
    border-bottom:1px solid lightgray;
}

  .log_table_col_1 {
    float:left;
    text-align: left;
    width:20%;
    margin:0px;
  }
  .log_table_col_2 {
    float:left;
    width:12%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .log_table_col_3 {
    float:left;
    width:12%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .log_table_col_4 {
    float:left;
    width:12%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .log_table_col_5 {
    float:left;
    width:12%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .log_table_col_6 {
    float:left;
    width:12%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .log_table_col_7 {
    float:left;
    width:20%;
    margin:0px;
  }