
  .option_table_row {
    color: #666;
    font-size: 13px;
    width:100%;
    margin-left:20px;
    margin-top:5px;
    border-bottom:1px solid lightgray;
    padding-top: 5px;
  }

  .option_table_col1 {
    width:50%;
  }
  .option_table_col2 {
    width:50%;
    float:right;
    text-align:right;
  }