
    .widget_box {
        float:left;
        width:24%;
        padding-top:10px;
        padding-bottom:20px;
        padding-left:20px;
        padding-right:20px;        
        margin:5px;
        background-color: rgb(255, 255, 255);
        border-right: 1px solid rgb(231, 229, 229);
    }

    .widget_label {
        color: rgb(0, 160, 147);
        margin-left:0px;
    }

    .widget_text {
        font-size:9pt; 
        margin-left:0px; 
        color: gray;
    }

    .widget_value {
        margin-top:50px;
        color: rgb(0, 160, 147);
        /* color: rgb(145, 35, 35);  */
        font-size:24pt; 
        float:right
    }

  .coa_box {
    float:left;
    width:80px;
    height:60px;
    margin-top:0px;
    margin-right:20px;
    color: white;
    border: 2px solid rgb(0, 160, 147) ;
  }

  .coa_header {
    float:left;
    width:100%;
    text-align:center;
    background-color: rgb(0, 160, 147);
    color: white;
  }

  .coa {
    float:left;
    text-align:center;
    vertical-align: middle;
    height:100%;
    margin-left:0px;
    width:100%;
    color: rgb(0, 160, 147);
  }

  .report_table {
    float:left;
    width:66%;
    font-size: 12px;
    background-color:white;
    color: #666;
    padding:0px; 
    margin-top:1px;
    margin-left:16.5%; 
    margin-bottom:1px; 
  }

  .report_table_header {
    float:left;
    text-align: right;
    color: #666;
    font-size: 13px;
    width:90%;
    margin-left:20px;
    padding-top:15px;
    margin-bottom:10px;
    border-bottom:0px solid darkgray;
  }
  
  .report_table_row {
    float:left;
    text-align: right;
    width:90%;
    margin-left:20px;
    margin-bottom:4px;
    border-bottom:1px solid lightgray;
}

.report_table_year {
    float:left;
    text-align: left;
    width:35%;
    margin:0px;
    margin-top:20px;
    margin-right:15px;
    font-size: 16px;
    font-weight: 750;
    color:rgb(0, 160, 147)
  }
  .report_table_year_col_2 {
    float:left;
    width:20%;
    margin:0px;
    margin-top:20px;
    font-size: 16px;
    font-weight: 750;
    color: rgb(0, 141, 129);
  }
  .report_table_year_col_3 {
    float:left;
    width:20%;
    margin:0px;
    margin-top:20px;
    font-size: 16px;
    font-weight: 750;
    color: rgb(0, 141, 129);
  }
  .report_table_year_col_4 {
    float:right;
    width:20%;
    margin:0px;
    margin-top:20px;
    font-size: 16px;
    font-weight: 750;
    color: rgb(0, 141, 129);
  } 

  .report_table_col_1 {
    float:left;
    text-align: left;
    width:35%;
    margin:0px;
    margin-left:15px;
  }
  .report_table_col_2 {
    float:left;
    width:20%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .report_table_col_3 {
    float:left;
    width:20%;
    margin:0px;
    color: rgb(0, 141, 129);
  }
  .report_table_col_4 {
    float:right;
    width:20%;
    margin:0px;
    color: rgb(0, 141, 129);
  } 